/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* Estilos para formularios */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Estilos para el botón de registro en la página de inicio de sesión */
.register-link {
  text-align: center;
  margin-top: 10px;
}

.register-link a {
  text-decoration: none;
  color: #007bff; /* Color del enlace, puedes personalizarlo */
  font-weight: bold;
  transition: color 0.3s;
}

.register-link a:hover {
  color: #0056b3; /* Cambio de color al pasar el ratón, puedes personalizarlo */
}

/* Agregar estilos a la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Estilos para los botones de acciones */
button {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.editar {
  background-color: #3498db;
  color: #fff;
}

.borrar {
  background-color: #e74c3c;
  color: #fff;
}

.carrito {
  background-color: #27ae60;
  color: #fff;
}
