<!-- cliente.component.html -->
<div class="container">
    <button type="button" class="btn btn-primary mt-3" (click)="openModal(content)">Crear nuevo</button>
  </div>
  
  <!-- app.component.html -->
  <div class="container">
    <!-- Filtro por nombre -->
    <input type="text" [(ngModel)]="filterText" (keyup)="filterData()" class="form-control mt-3" placeholder="Filtrar por nombre" />
    
    <!-- Center-align the table -->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Codigo</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredData | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <td class="text-center">{{ item.codigo }}</td>
            <td class="text-center">{{ item.descripcion }}</td>
            <td class="text-center">
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-primary editar mx-2" (click)="openModal(content,item)">Editar</button>
                <button class="btn btn-danger borrar mx-2" (click)="deleteItem(item.articuloId)">Borrar</button>
                <button class="btn btn-danger borrar mx-2" (click)="addToCart(item.articuloId)">Agregar al Carrito</button>
                <!-- <button class="btn btn-danger borrar mx-2" (click)="addToStore(item.articuloId)">Agregar a tienda</button> -->
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- Paginación -->
    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
  </div>
  
  
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Cliente</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h2>{{id===0?'Registro':'Editar'}}</h2>
          <form [formGroup]="registerForm" >
            <div>
              <label for="codigo">Código: </label>
              <input type="text" id="codigo" formControlName="codigo">
            </div>
            <div>
              <label for="descripcion">Descripción:</label>
              <input type="text" id="descripcion" formControlName="descripcion">
            </div>
            <div>
              <label for="precio">Precio:</label>
              <input type="number" id="precio" formControlName="precio">
            </div>
            <div>
              <label for="imagen">Imagen:</label>
              <input type="text" id="imagen" formControlName="imagen">
            </div>
            <div>
              <label for="stock">stock:</label>
              <input type="number" id="stock" formControlName="stock">
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="id===0" type="button" class="btn btn-primary" (click)="onSubmit()">Guardar</button>
        <button *ngIf="id!==0" type="button" class="btn btn-primary" (click)="editItem()">Guardar</button>
  
        <button type="button" class="btn btn-primary" (click)="modal.close('Candelar')">Cancelar</button>
      </div>
    </ng-template>
  
    
    